body {
    background-image: url('../images/logos/agropro_logo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: left 550px center;
}